@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    font-size: 16px;

    
}


body{
    margin: 0;
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--stone-600);
    
}


h1,h2{
    font-family: "Young Serif", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
    color: var(--stone-900);
    /* line-height: 1; */
    
}

h2{
    color: var(--brown);
    font-size: 1.8rem;
}

h3{
    margin: 1em 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--rose-800);
}

ul, ol{
    padding: 0;
    margin: 0;
    padding-left: 1.5em;
    
}

/* ul{
   list-style-position: inside;
   line-height: 1.5;
} */

li{
    margin-bottom: 1em;
    vertical-align: middle;

}

li::marker{
    color: var(--brown);
    font-weight: 600;
    

}

li span{
    position: relative;
    left: .5em;
    padding-right: 5em ;
}

img{
    width: 100%;
    height: auto;

}

.content-container{
    padding: 0 20px;
    /* width: 80%;
    margin: 0 auto; */
}

.preparation-container{
    background: var(--rose-50);
    padding: 3px 20px;
    border-radius: 10px;
    margin-top: 2em;
    
}

.line{
    border-bottom: 1px solid var(--stone-150);
    padding-bottom: 1em;
}

.line-2{
    border-bottom: 1px solid var(--stone-150);

}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.nutritions{
    padding: 1em 2em;
}

.values{
    padding-left: 2em;
    font-weight: 700;
    color: var(--brown);
}

footer{
    margin: 3em 0;
}

@media (max-width: 371px){
    h1{
        font-size: 2.2rem;
    }
}


@media (min-width: 768px){
    body{
        width: 100%;
        background: var(--stone-100);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5em 0;
    
    }

    .container{
        background: var(--white);
        width: 50%;
        padding: 2em;
        border-radius: 1.5em;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-container{
        padding: 0;
    }

    img{
        border-radius: 1em;
        object-fit: contain; 
    }

    .intro{

        margin-left: 0 ;
    }
}

